.app__header {
  // background-color: rgba($app-color, 0.9);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  &:before {
    background-color: $app-color;
    bottom: 0;
    content: '';
    height: 0.2rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  > .app__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding-bottom: $grid-gutter-width / 2;
    padding-top: $grid-gutter-width / 2;
  }

  h1 {
    color: #000;
    font-family: Bungee, sans-serif;
    font-size: 4rem;
    margin: 0;

    > * {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      margin-left: $grid-gutter-width / 2;
    }
  }

  .app__logo svg {
    width: 5rem;
  }

  &__menu {
    flex: 1;

    button {
      margin-left: 1rem;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      line-height: 1;
      margin-bottom: 0;

      li {
        &:not(:last-child) {
          margin-right: $grid-gutter-width / 3;
        }
      }
    }

    a {
      color: darken($app-color, 20);
      font-size: 1.3rem;

      @include lg {
        font-size: 1.6rem;
      }

      &.active {
        color: #000;
      }

      span {
        display: inline-block;
        margin-left: $grid-gutter-width / 12;
        text-transform: uppercase;
      }
    }
  }
}
