$person-group-border-radius: .5rem;

.person-group {
  li {
    &.profile-condensed {
      padding: 2rem 1rem;
    }

    &:first-child, &:last-child {
      border-radius: $person-group-border-radius;
    }
    font-size: 1.5rem;

    padding: 0;
    border-radius: $person-group-border-radius;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);

    .col-2:last-child {
      border: none;
    }
  }

  .profile {
    .card {
      border: none;

      .line {
        text-transform: uppercase;
        line-height: .5rem;
        border-bottom: 1px solid #000;
      }

      .card-header {
        background-color: transparent;
        padding: 0;
        .card-title {


          span {
            font-size: 1.5rem;
            background-color: #fff;
            padding: 0 10px;
          }
        }
      }
      .card-body {
        font-size: 1.2rem;
      }
    }
  }
}
