.user-card-list {
	height: 800px;

	> .user-card {
		border-radius: 0.5em;
	    /*padding: 7px;*/
	    width: 249px;
	    height: 590px;
	    float: left;
	    margin-right: 15px;
	    margin-bottom: 15px;
	    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	    > .top-bar {
	    	border-top-left-radius: 0.5em;
	    	border-top-right-radius: 0.5em;
	    	background: linear-gradient(to right, #fec792, #fd8070);
	    	height: 19px;
	    }
	    
	    > .user-image {
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top: 30px;
		    margin-bottom: 30px;
		    width: 50%;
		    border: 1px solid #eaeaea;
		    border-radius: 500px;
		    box-shadow: 0 16px 60px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    }

	   	> .user-name {
	   		text-align: center;
	   		font-size: x-large;
	   	}

	   	> .user-status {
	   		text-align: center;
	   		text-transform: uppercase;
	   		color: #fd8070;
	   		margin-top: 4px;
	   		margin-bottom: 13px;
	   	}

	   	> .icon-row {
	   		margin-left: auto;
	   		margin-right: auto;
	   		margin-bottom: 15px;
	   		width: 54%;

	   		> .icon-btn {
	   			height: 51px;
	   			width: 51px;
				padding: 10px;
				margin-right: 4px;
				box-shadow: 0 1px 3px -4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	   		}
	   	}
	}
}