.registrant-table {
	width: 1320px;

	th {
		width: 81px;
	}
}

tr.header-bottom-bar {
	height: 3px;
	background: linear-gradient(to right, #d494f5 1%, #7059e4 100%);	
}

.registrant-card {
	margin-top: 10px;
	margin-bottom: 10px;

	& table {
		width: 1463px;
	}
}

tr.spacer1 {
	height: 35px;
}

tr.spacer2 {
	height: 15px;
}

tr.registrant-row {
	border-radius: 0.5em;
	height: 87px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	> .registrant-data {
		> .registrant-image {
			height: 61px;
			margin-left: 14px;
			margin-right: 18px;
			border: 1px solid #eaeaea;
		    border-radius: 500px;
			box-shadow: 0 16px 60px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}

		> .column-icons {
			position: relative;
			top: -1px;
			margin-right: 8px;
		}
	}
}

tr.more-info {

}

img.header-sort-icon {
	position: relative;
	top: -1px;
	margin-left: 10px;
}