$card-border-radius: 1rem;

.start-card {
  .card {
    min-width: 350px;
    max-width: 350px;
    border-radius: $card-border-radius;

    .card-header {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }

    .card-footer {
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }

    .org-card-logo {
      padding: 0 2rem;
      opacity: .2;
    }

    pre {
      font-size: 1.5rem;
      white-space: pre-wrap;
    }
  }
}
