.upload-container {
	> .upload-main {
		position: relative;
		top: 29px;
		height: 500px;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		> .facial-recognition-icon {
			position: relative;
		    top: 92px;
	    	left: 117px;
		}

		> .fingerprint-icon {
			position: relative;
		    top: 92px;
	    	left: 142px;
		}

		> .upload-icon {
			position: absolute;
			bottom: 30px;
			right: 30px;
		}
	}

	.loading {
		top: 120px;
		position: relative;

		> .loading-icon {
			height: 42px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}