// Bootstrap 4
$grid-gutter-width: 3rem;

/* stylelint-disable unit-blacklist */
$grid-breakpoints: (
  xs: 0,
  ix: 400px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1600px,
);
/* stylelint-enable */

$grid-breakpoints-padding: (
  xs: $grid-gutter-width / 2,
  ix: $grid-gutter-width / 2,
  sm: $grid-gutter-width / 2,
  md: $grid-gutter-width,
  lg: $grid-gutter-width,
  xl: $grid-gutter-width * 2,
  xxl: $grid-gutter-width * 2,
);

$container-max-widths: (
  ix: 40rem,
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 154rem
);

$font-family-sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family: Lato, sans-serif;
$headings-font-weight: 700;

$body-bg: #fff;

$theme-colors: (
  'primary':    $app-color,
);

//$btn-border-radius-sm: 2rem;
$input-btn-padding-x-sm: 2rem;
$input-btn-padding-y-sm: 0.6rem;

$btn-border-radius: .25rem;
$input-btn-padding-x: 2.6rem;
$input-btn-padding-y: 1rem;

//$btn-border-radius-lg: 3rem;
$input-btn-padding-x-lg: 3rem;
$input-btn-padding-y-lg: 1.4rem;
